# Standard 8 MiB XIAO ESP32S3 only, not the 16 MiB Plus.
CONFIG_BOARD_SEEED_XIAO_ESP32S3=y
CONFIG_BOARD_POWER_MANAGEMENT=y
# CONFIG_ESPTOOLPY_FLASHSIZE_16MB is not set
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.xiao-esp32s3.csv"
CONFIG_NETWORK_DEFAULT_HOSTNAME="x"
